<!DOCTYPE html>
<html>
   <head>
      <title>Cross sales check</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="col-lg-4">
         <form class="navbar-form navbar-left" role="search" action="{{ url_for('show_variant') }}" method=get>
             <input type="text" class="form-control" placeholder="Search" name='sku'>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="submit" class="btn btn-default" type="reset">Random</button>
         </form>
      </div>  
      <div class="row">
         <div class="col-md-8 right-block">
            <div class="page-header">
               <h1>Requested sku: <small>{{item['sku'].upper()}}</small></h1>
            </div>
            <div class="col-md-4">
               <img src="{{item['image_url']}}" class="img-rounded">
            </div>
            <div class="col-md-8">
               <dl class="dl-horizontal">
                  <dt>SKU</dt>
                  <dd>{{item['sku'].upper()}}</dd>
                  <dt>Name</dt>
                  <dd>{{item['name']}}</dd>
                  {%for i in range(1,5) %}
                  <dt>Category lvl {{i}}</dt>
                  <dd>{{item_categories['cat_{i}'.format(i=i)]}}</dd>
                  {%endfor%}
     
                  <dt>Item degree in item community graph:</dt>
                  <dd>{{degree}}</dd>

               </dl>
            </div>
         </div>
         <div class="col-md-4">
            <div class="page-header">
               <h1>Suggested items</h1>
            </div>
            {% if recommendations['apriori'] != None %}
            <div>
               <h3>Apriori</h3>
               <dd>
                  {%set info_type = {'frequency':'Item frequency'}%}
                  {%for reco in recommendations['apriori'] %}
                  {% include 'suggest_widget.html' %}
                  {%endfor%}
               </dd>
            </div>
            {% endif %}

            {% if recommendations['sku_graph'] != None %}

             <div>
               <h3>Graph suggests</h3>
               <dd>
                  {%set info_type = {'degree':'Item graph degree'}%}
                  {%for reco in recommendations['sku_graph'] %}
                  {% include 'suggest_widget.html' %}
                  {%endfor%}
               </dd>
            </div>
            {% endif %}

            {%for i in range(4,0,-1) %}
            {% if recommendations['cat_{i}'.format(i=i)] != None %}
               <div>
               <h3>Category suggest level {{i}}</h3>
               <dd>
                  {%set info_type = {'score':'Item score'}%}
                  {%for reco in recommendations['cat_{i}'.format(i=i)] %}
                  {% include 'item_widget.html' %}
                  {%endfor%}

               </dd>
               </div>
            {% endif %}
            {%endfor%}

         </div>
      </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   </body>
</html>