<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object small-picture" src="{{reco['image']}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{reco['name']}}</h4>
    <h5><span class="label label-primary">Item category</span> {{reco['sku_category']}}</h5>
    <h5><span class="label label-info">{{info_type.values()[0]}}</span> {{reco[info_type.keys()[0]]}} <span class="label label-warning">Category degree</span> {{reco['sku_category_degree']}}</h5>
    <h5><span class="label label-info">SKU</span> {{reco['sku']}}</h5>
  </div>
</div>