<!DOCTYPE html>
<html>
   <head>
      <title>Cross sales check</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="jumbotron col-md-6">
         <h1>No items</h1>
      </div>
   </body>
</html>