<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object small-picture" src="{{reco['data'].image_url}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{reco['data'].name}}</h4> 
    <h5><span class="label label-info">SKU</span> {{reco['data'].sku}}</h5>
    <h5><span class="label label-info">Category lvl 1</span> {{reco['data'].cat_1}}</h5>
    <h5><span class="label label-info">Category lvl 2</span> {{reco['data'].cat_2}}</h5>
    <h5><span class="label label-info">Category lvl 3</span> {{reco['data'].cat_3}}</h5>
    <h5><span class="label label-info">Category lvl 4</span> {{reco['data'].cat_4}}</h5>

  </div>
</div>