<!DOCTYPE html>
<html>
   <head>
      <title>Cross sales check</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
   </head>
   <body>
   	 <div class="row">
   	<div class="col-lg-6">
         <form class="navbar-form navbar-left" role="search" action="{{ url_for('show_cross_sell') }}" method=get>
            <input type="text" class="form-control" placeholder="SKUs in card" name='sku_list'>
            <input type="text" class="form-control" placeholder="Num of recs" name='num_recs'>
            <button type="submit" class="btn btn-default">Get recommendations</button>
            <button type="submit" class="btn btn-default" type="reset">Random items</button>
         </form>
      </div>
  </div>
      <div class="row">
         <div class="col-md-6">
            <div class="page-header">
               <h2>Items in card: <small>{{request|length}}</small>  Recommendations count: <small>{{num_of_recs}}</small></h2>
               {%for reco in request %}
               {% include 'original_item_widget.html' %}
               {%endfor%}
            </div>
         </div>
         <div class="col-md-6 left-block">
            <div class="page-header">
               <h2>Recommended skus <small>{{response|length}}</small></h2>
               {%for reco in response %}
               {% include 'recommended_item_widget.html' %}
               {%endfor%}
            </div>
         </div>
      </div>
   </body>
</html>