<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object small-picture" src="{{reco['item_info'].image_url}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{reco['item_info'].name}}</h4> 
    <button type="button" class="btn btn-small btn-warning" data-container="body" data-placement="top" data-toggle="popover" title="Extra info" data-content="{{reco['extras']}}">Extra info</button>
    <h5><span class="label label-info">Score</span> {{reco['score']}}</h5>
    <h5><span class="label label-info">SKU</span> {{reco['recommended_sku']}}</h5>
    <h5><span class="label label-info">Original SKU</span> {{reco['source_sku']}}</h5>
    <h5><span class="label label-info">Type</span> {{reco['type']}}</h5>

  </div>
</div>